@*@page*@
@model string

<div>
    <div>
        <div>
            User: <input type="text" id="userInput" />
            <br />
            Msg: <input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send" />
        </div>
    </div>
    <div>
        <div>
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>